<footer class="uk-text-center uk-text-small uk-padding-small" >
    <ul class="uk-list uk-margin-remove">
        <li>FOW Website</li>
        <li class="uk-margin-left uk-margin-right">2019 Jérémy OUDOT</li>
        <li><a href="http://unlicense.org" target="_blank">http://unlicense.org</a></li>
    </ul>
</footer>