$global-emphasis-color: #000;
$global-color: #333;
$global-muted-background: #f8f8f8;
$global-background: #fff;
$global-secondary-background: darken($global-emphasis-color, 5%);
$global-primary-background: $global-emphasis-color;
$global-font-family: 'Montserrat', sans-serif;
$global-font-size: 16px;
$global-link-color: $global-emphasis-color;
$global-link-hover-color: darken($global-link-color, 5%);

$base-heading-font-family: 'Happy Monkey', cursive;
$base-pre-background: $global-muted-background;
$base-link-text-decoration: underline;

$button-default-background: transparent;
$button-default-hover-color: darken($global-emphasis-color, 5%);
$button-primary-background: $global-emphasis-color;
$button-border-width: 2px;
$button-default-border: $global-emphasis-color;
$button-default-hover-border: darken($global-emphasis-color, 20%);
$button-default-active-border: darken($global-emphasis-color, 30%);

$overlay-default-background: rgba($global-background, 0.4);

$card-default-background: $base-pre-background;
$card-default-box-shadow: none;