<!doctype {{ FW.doctype }}>
<html lang="{{ FW.lang }}">
	<head>
		//=include ../_head.njk
	</head>
	<body
		{% if FW.template.background.type == "image" %}
			{{ FW.macro.printAttributes( FW.template.background.attributes | fw_assign({
				'uk-img': '',
				'class': FW.template.background.attributes.class + ' uk-position-relative uk-cover-container uk-overflow-auto ' + FW.template.mode 
			}) ) }}
		{% else %}
			class="{{ FW.template.background.class }} uk-position-relative uk-cover-container uk-overflow-auto {{ FW.template.mode }}"
		{% endif %}
	>
		{% if FW.template.background.type == "video" %}
			{{ FW.macro.HTMLElement({ attributes: { 'uk-cover': ''} } | fw_assign(FW.template.background)) }}
		{% endif %}

		//=include _header.njk
		//=include _main.njk
		//=include _footer.njk
	</body>
</html>