.fw-body.fw-menu-right {
    &,
    .uk-navbar-nav {
        flex-direction: row-reverse;
    }
}

.fw-menu {
    .fw-nav {
        overflow: auto;
    }
}

#fw-offcanvas {
    .uk-cover-container {
        overflow: auto;
    }
}

@media (max-width: $breakpoint-medium) {
    .fw-body {
        flex-direction: column !important;
    }
}