<footer class="uk-text-center uk-text-small uk-padding-small uk-width-auto" >
    <ul class="uk-list uk-margin-remove">
        {{ FW.macro.wrapper(FW.credits, {
            type: 'fw-element',
            tag: 'li',
            attributes: {
                class: 'uk-margin-left uk-margin-right'
            }
        }) }}
    </ul>
</footer>