{% set s_class = ('fw-menu uk-visible@m uk-cover-container uk-width-medium uk-flex uk-flex-column uk-position-fixed uk-position-' + FW.template.menu.position + ' ' + FW.template.menu.mode) | replace('undefined', '') | trim %}

{% block menu %}
    <div class="fw-menu-placeholder uk-visible@m uk-width-medium"></div>

    <section
        {% if FW.template.menu.background.type == "image" %}
			{{ FW.macro.printAttributes( FW.template.menu.background.attributes | fw_assign({
				'uk-img': '',
				'class': s_class + ' ' + FW.template.menu.background.attributes.class
			}) ) }}
		{% else %}
			class="{{ s_class + ' ' + FW.template.menu.background.class }}"
		{% endif %}
	>
		{% if FW.template.menu.background.type == "video" %}
			{{ FW.macro.HTMLElement({ attributes: { 'uk-cover': ''} } | assign(FW.template.menu.background)) }}
		{% endif %}
        
        <header class="uk-text-center uk-padding uk-width-auto">
            {% block menu_icon %}
                <a href="index.html">
                    {{ FW.macro.component(FW.content.menu.icon) }}
                    <h2 class="uk-margin-small-top">{{ FW.content.menu.title | safe }}</h2>
                </a>
            {% endblock %}

            {% block menu_buttons %}
                {% if FW.content.menu.buttons %}
                    {{ FW.macro.component(FW.content.menu.buttons) }}
                {% endif %}
            {% endblock %}
        </header>

        {% block menu_nav %}
            //=include _nav.njk
        {% endblock %}

        {% block menu_footer %}
            //=include _footer.njk
        {% endblock %}
        
    </section>
{% endblock %}