{% block offcanvas %}

    <section id="fw-offcanvas" uk-offcanvas="overlay: true; mode: push; {% if FW.template.menu.position == "right" %} flip: true; {% endif %}" >
        <div
            {% if FW.template.menu.background.type == "image" %}
                {{ FW.macro.printAttributes( FW.template.menu.background.attributes | fw_assign({
                    'uk-img': '',
                    'class': FW.template.menu.mode + ' uk-offcanvas-bar uk-padding-remove ' + FW.template.menu.background.attributes.class
                }) ) }}
            {% else %}
                class="uk-offcanvas-bar uk-padding-remove {{ FW.template.menu.background.mode }} {{ FW.template.menu.background.class }}"
            {% endif %}
        >

            <div class="uk-cover-container uk-height-1-1">
                {% if FW.template.background.type == "video" %}
                    {{ FW.macro.HTMLElement({ attributes: { 'uk-cover': ''} } | assign(FW.template.background)) }}
                {% endif %}

                <header class="uk-text-center uk-padding">
                    {% block offcanvas_icon %}
                        <a href="index.html">
                            {{ FW.macro.component(FW.content.menu.icon) }}
                            <h2 class="uk-margin-small-top uk-margin-remove-bottom">{{ FW.content.menu.title | safe }}</h2>
                        </a>
                    {% endblock %}
                </header>
                
                {% block offcanvas_nav %}
                    //=include _nav.njk
                {% endblock %}
            </div>
        </div>
    </section>

{% endblock %}